@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}
a:hover {
  color: #535bf2;
}

.container {
  min-height: calc(100svh - 60px);
}

@layer base {
  .tu-markdown h1 {
    @apply py-2 text-2xl;
  }

  .tu-markdown h2 {
    @apply py-2 text-xl;
  }

  .tu-markdown h3 {
    @apply py-2 text-lg;
  }

  .tu-markdown h4 {
    @apply py-2 text-base;
  }

  .tu-markdown h5 {
    @apply py-2 text-sm;
  }

  .tu-markdown h6 {
    @apply py-2 text-xs;
  }

  .tu-markdown p {
    @apply py-2 transition-all ease-in;
  }

  .tu-markdown p:hover {
    @apply text-gray-400 cursor-pointer;
  }

  @media (min-width: 768px) {
   .tu-markdown p {
    @apply w-2/3;
   }
  }

  .tu-markdown iframe {
    @apply mt-2 mb-2;
  }

  .tu-markdown ul {
    @apply list-disc pl-6;
  }

  .tu-markdown li {
    @apply py-1;
  }

  .tu-markdown table {
    @apply my-2 rounded-sm border-collapse w-full;
  }

  .tu-markdown th {
    @apply bg-[#383838] py-1 font-normal;
    @apply border border-[#555555];
  }

  .tu-markdown td {
    @apply py-1 pl-2;
    @apply border border-[#555555];
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .tu-markdown p:hover {
    @apply text-gray-500;
  }
}